body{
  background-color: red;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Comic Sans MS", serif;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}